
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
    <meta name="author" content="leamug">
    <title>Pronet Calls Replay Utility</title>
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/css/login.css">

</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="~/Content/img/logo.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            <h4 class="form-header">Pronet Calls Replay Utility</h4>
            @RenderBody()
        </div> 
    </div>
</body>
</html>
