@{ Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Reset password confirmation";
}


<hgroup class="title">
    <h3 class=" ">@ViewBag.Title.</h3>
</hgroup>
<hr />
<br />
<div>
    <h5>
        Your password has been reset. 
        <br />Please @Html.ActionLink("click here to log in", "Login", "Account", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })
    </h5>
</div>
