
.sticky-icon {
    z-index: 1;
    position: fixed;
    top: 30%;
    left: 0%;
    width: 70px;
    display: flex;
    flex-direction: column;
}

    .sticky-icon a {
        color: darkgray;
        border-right-style: outset;
        background: url(/Content/img/sidebar.png) repeat-y center;
        background-size: 100%;
        transform: translate(-22px,0px);
        border-radius: 0px 50px 50px 0px;
        text-align: right;
        margin: 3px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0px;
        font-size: 23px;
        font-family: 'Oswald', sans-serif;
        transition: all 0.8s;
    }

        .sticky-icon a:hover {
            color: #FFF;
            transform: translate(0px,0px);
        }

            .sticky-icon a:hover i {
                transform: rotate(360deg);
            }
/*.search_icon a:hover i  {
	transform:rotate(360deg);}*/


.sticky-icon a i {
   
    height: 40px;
    width: 40px;
    color: #000;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.5s;
}


.fas fa-shopping-cart {
    background-color: #FFF;
}

#myBtn {
    height: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    text-align: center;
    padding: 10px;
    text-align: center;
    line-height: 40px;
    border: none;
    outline: none;
    background-color: #1e88e5;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}

.fa-arrow-circle-up {
    font-size: 30px;
}

#myBtn:hover {
    background-color: #555;
}
